.git
.github
.cursorrules
.snakemake
.genehackman
.cache
pipeline_logs
.ipynb_checkpoints
.env
.env_example
*.sif
build
build.log
README.pdf
tests/testthat/data
venv
__pycache__
*.pyc
.pytest_cache
.quarto
**/*.quarto_ipynb
*input.yaml
*input.json
.Rproj.user
.DS_Store
ieugwasr_oauth
PLATFORM_SETUP.md
extract_by_range.r
input_for_project.yaml
