#Mandatory variables
PIPELINE_DATA_DIR=
PROJECT_DIR=
# Optional variables
# DOCKER_VERSION=
QTL_DATA_DIR=
SNAKEMAKE_PROFILE=snakemake/profiles/local/
APPTAINER_MODULE=
SLURM_PARTITION=
SLURM_ACCOUNT=
